<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Dolor Sit</title>

    <link rel="stylesheet" href="./css/index.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="content-container-grid">
      <div class="header-cell">
        <header class="header">
          <div class="-logo">
            <a class="link" href="./index.html">
              <img src="./images/logo.png" alt="Logo">
            </a>
          </div>

          <nav class="-navigation">
            <ul>
              <li>
                <a href="./index.html">About</a>
              </li>

              <li>
                <a href="./article.html">Article</a>
              </li>
            </ul>
          </nav>
        </header>
      </div>

      <div class="navigation-cell">
        <nav class="navigation">
          <ul>
            <li>
              <a href="./index.html">About</a>
            </li>

            <li>
              <a href="./article.html">Article</a>
            </li>

            <li>
              <a class="_active" href="./gallery.html">Gallery</a>
            </li>

            <li>
              <a href="./items">Items</a>
            </li>

            <li>
              <a href="./index.html">Lorem Ipsum</a>
            </li>

            <li>
              <a href="./index.html">Dolor sit</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="sidebar-cell">
        <aside class="sidebar">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit tempora accusamus culpa veritatis doloremque libero nemo ipsam unde, labore voluptate voluptates veniam nobis quo deleniti excepturi cum laboriosam praesentium nihil.</p>
        </aside>
      </div>

      <div class="content-cell">
        <main class="content">
          <section>
            <header>
              <h1>Gallery</h1>
            </header>

            <div class="items-grid">
              <div class="item-card">
                <figure>
                  <img class="-image" src="./images/300.png" alt="Lorem Ipsum">

                  <figcaption>
                    <a href="./images/300.png">
                      <h2 class="-title">Lorem Ipsum</h1>
                    </a>
                  </figcaption>
                </figure>
              </div>

              <div class="item-card">
                <figure>
                  <img class="-image" src="./images/300.png" alt="Dolor Sit">

                  <figcaption>
                    <a href="./images/300.png">
                      <h2 class="-title">Dolor Sit</h2>
                    </a>
                  </figcaption>
                </figure>
              </div>

              <div class="item-card">
                <figure>
                  <img class="-image" src="./images/300.png" alt="Amet Consectetur">

                  <figcaption>
                    <a href="./images/300.png">
                      <h2 class="-title">Amet Consectetur</h2>
                    </a>
                  </figcaption>
                </figure>
              </div>

              <div class="item-card">
                <figure>
                  <img class="-image" src="./images/300.png" alt="Adipisicing Elit">

                  <figcaption>
                    <a href="./images/300.png">
                      <h2 class="-title">Adipisicing Elit</h2>
                    </a>
                  </figcaption>
                </figure>
              </div>
            </div>
          </section>
        </main>
      </div>

      <div class="footer-cell">
        <footer class="footer">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla beatae obcaecati, cumque perferendis, ducimus laudantium, ea quam aperiam quibusdam animi aut amet ab cum eligendi magnam deserunt tempora mollitia unde!</p>

          <p><a href="./feedback.html">Feedback</a></p>
        </footer>
      </div>
    </div>
  </body>
</html>
