<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Lorem Ipsum</title>

    <link rel="stylesheet" href="./css/index.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="index-container-grid">
      <div class="header-cell">
        <header class="header">
          <div class="-logo">
            <a class="link" href="./index.html">
              <img src="./images/logo.png" alt="Logo">
            </a>
          </div>

          <nav class="-navigation">
            <ul>
              <li>
                <a class="_active" href="./index.html">About</a>
              </li>

              <li>
                <a href="./article.html">Article</a>
              </li>
            </ul>
          </nav>
        </header>
      </div>

      <div class="navigation-cell">
        <nav class="navigation">
          <ul>
            <li>
              <a class="_active" href="./index.html">About</a>
            </li>

            <li>
              <a href="./article.html">Article</a>
            </li>

            <li>
              <a href="./gallery.html">Gallery</a>
            </li>

            <li>
              <a href="./items">Items</a>
            </li>

            <li>
              <a href="./index.html">Lorem Ipsum</a>
            </li>

            <li>
              <a href="./index.html">Dolor sit</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="content-cell">
        <main class="content">
          <article>
            <header>
              <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
            </header>

            <section>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, unde praesentium impedit iusto perspiciatis adipisci voluptatum eos temporibus quae a. Id ducimus fugiat quidem esse laudantium quisquam laborum voluptatem nobis?</p>

              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, quidem corrupti. Modi doloribus excepturi sapiente adipisci! Veritatis nostrum explicabo nesciunt rerum soluta accusamus illo. Eveniet quasi quam ullam harum iusto.</p>

              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero qui optio ab deserunt illum sint eaque id quaerat cupiditate, quis vel alias aperiam iure corrupti. Pariatur ad quo sequi similique.</p>

              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore possimus reiciendis sint consequatur reprehenderit, alias tenetur laboriosam error sit. A quos voluptate nobis? Voluptates, enim nam necessitatibus ex cupiditate iure.</p>
            </section>
          </article>
        </main>
      </div>

      <div class="footer-cell">
        <footer class="footer">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla beatae obcaecati, cumque perferendis, ducimus laudantium, ea quam aperiam quibusdam animi aut amet ab cum eligendi magnam deserunt tempora mollitia unde!</p>

          <p><a href="./feedback.html">Feedback</a></p>
        </footer>
      </div>
    </div>
  </body>
</html>
